body
    {
        background-color: rgb(242, 244, 247);
    }

    .logo {
        display: block;
        width: 330px;
        margin-top: 160px;
        margin-left: 165px;
    }

    .text 
    {
        font-size: 28px;
        font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
        color: #1c1e21;
        margin-left: 200px
        
    }

    .login-box 
    {
    background-color: white;
    padding: 20px;
    width: 340px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    height: 300px;

    margin-top: -230px;
    margin-left: 800px;
    }


    .login-box input
    {
    width: 100%;
    padding: 14px;
    margin-bottom: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    }
    
    #butt
    {
        font-weight: bold;
    }

    .login-box button 
    {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    color: white;
    background-color: rgb(8, 102, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    }

    .login-box button:hover 
    {
        background-color: #165ecf;
    }

    .links 
    {
        text-align: center;
        margin-top: 12px;
    }

    .links a 
    {
        text-decoration: none;
        color: #1877f2;
        font-size: 14px;
        font-family: Helvetica, Arial, sans-serif;
    }

    .signup-box 
    {
    text-align: center;
    margin-top: 35px;
    }

    .signup-box a 
    {
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    background-color: rgb(66, 183, 42); 
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    }

    .signup-box a:hover 
    {
    background-color: #36a420;
    }

    .divider 
    {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 20px 0;
        color: #616770;
        font-size: 14px;

        content: "";
        flex: 1;
        height: 1px;
        background: #ddd;
    }

    .down
    {
        font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
        font-size: 14px;
        margin-left: 630px;
        margin-top: 30px;
        text-align: center;
    }

    .down a
    {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }